div {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.red-line {
	background-color: #CC0000;
	height: 15px;
	width: 975px;
}
.big-box {
	margin-bottom: 12px;
	background-color: #7f7f7f;
	width: 975px;
	height: 475px;
}
.lil-boxes {
	background-color: #a6a6a6;
	height: 90px;
	width: 295px;
	float:left;
	margin: 12px;
}
#three-boxes {
	height:90px;
	width: 975px;
}
#top-box {
	width:975;
	height: 100;
	margin-bottom: 12px;
}
#red-logo {
	width: 100;
	height:100;
	border: #ff0000;
}
footer {
	background-color: #a6a6a6;
	height:200px;
	margin-left: auto;
	margin-right: auto;
}
nav {
	margin-left: auto;
	margin-right: auto;
}